.layout{
    display: grid;
    background-color: var(--body-bg);
    color:var(--body-font-color);
    padding:1rem;
}

.mainSection{
    background-color:rgba(38, 33, 72, 0.493);
    padding:.5rem;
    border-radius: var(--border-radius);
    transition: .5s;
}

.td{
    text-align: center;
}

.table_paginator{
    background-color:"#252047";
    border-radius:12px;
    color:white;
}

.ant-table-tbody {
    background-color: red;
  }